@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

* { 
  box-sizing: border-box; 
}

html {
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
}

.tooltip {
  @apply invisible absolute opacity-0 -translate-y-2 transition duration-300;
}

.has-tooltip:hover .tooltip {
  @apply visible z-50 opacity-100 translate-y-0;
}
